/* removing default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2;
    /* background-color: tomato; */
}

/* applying sytles to <header> */
header {
    padding: 25px 35px;
    background-color: #39a6b2;
}

/* Defines h1 tag style within header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* Defines a tag style within header */
header a {
    color: #fce138;
    text-decoration: none;
}

/* Defines nav tag style within header */
header nav {
    float: right;
    margin: 7px 0;
}

/* Defines ONLY list item style within header and set it to inline */
header nav ul li {
    display: inline;
}

/* Defines ONLY a tag styles within list item from header */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* applying sytles to <footer> */
footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
}

/* Defines the h2 tag sytle within the footer */
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* Defines the div tag style */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

/* Defines the a tag style within the footer */
footer a {
    color: #024e76;
}