/* removing default browser-enforced styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------- Start Body style ------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2;
}
/* ------------- Finish Body style ------------- */


/* ------------- Start header style ------------- */
/* applying styles to <header> */
header {
    padding: 25px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Defines h1 tag style within header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

/* Defines a tag style within header */
header a {
    color: #fce138;
    text-decoration: none;
}

/* Defines nav tag style within header */
header nav {
    margin: 7px 0;
}

/* Defines style for NAV UL */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* Defines ONLY a tag styles within list item from header */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* ------------- Finish header style ------------- */


/* ------------- Start footer style ------------- */
/* applying styles to <footer> */
footer {
    background-color: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Defines the h2 tag style within the footer */
footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

/* Defines the div tag style */
footer div {
    line-height: 1.5;
    text-align: right;
}

/* Defines the a tag style within the footer */
footer a {
    color: #024e76;
}
/* ------------- finish footer style ------------- */


/* ------------- Start Sections style ------------- */
/* Defines the Sections style */
section {
    padding: 60px;
}

/* Defines section style for hero class */
.hero {
    background-image: url("../images/hero-bg.jpeg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Defines Call to Action section style */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

/* Defines hero-form style */
.hero-form {
    border: solid 3px #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 40%;
    color: #024e76;
    bottom: 120px;
    right: 140px;
    margin: 3.5%;
}

/* Formatting h3 tag to be a bit bigger within form */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

/* Formatting p tag to within hero-form */
.hero-form p {
    margin: 5px 0 15px 0;
}

/* Formatting input within hero-form */
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

/* formatting label within hero-form */
.hero-form label {
    margin: 0 5px;
}

/* Formatting button within hero-form */
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* Defining generic classes to all headings (steps) */
.section-title {
    font-size: 55px;
    color: #024e76;
    margin: 0 auto 35px auto;
    padding-bottom: 20px;
    text-align: center;
    width: 50%;
    /* display: inline-block; */
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}

/* Formatting p tag within what-we-section */
.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fce138;
}

/* Formatting h3 tag style of what-we-do section */
.step h3 {
    flex: 1 30%;
    color: #024e76;
    font-size: 46px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}

.step-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 2 70%;
}

.step-text {
    flex: 12;
}

/* Formatting p tag within what-we-do section */
.step-text-p {
    color: #39a6b2;
    font-size: 18px;
}

/* Formatting step image style */
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

/* Avoiding Edge bug by adding width to img */
.step-img img {
    max-width: 100%;
}


/* Formatting article that applies to all trainers */
.trainer {
    width: 900px;
    margin: 0 auto 30px auto;
    background: #024e76;
    color: #fce138;
    overflow: auto;
}
/* Formatting trainer image */
.trainer img {
    width: 35%;
    float: left;
}

/* Formatting trainer bio within DIV*/
.trainer-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

/* Formatting trainer-bio h3 tag */
.trainer-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

/* Formatting trainer-bio h4 tag */
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

/* Formatting trainer-bio p tag */
.trainer-bio p {
    font-size: 17px;
    line-height: 1.3;
}

/* Formatting reach-out section */
.contact {
    background-color: #024e76;
    /* text-align: center; */
}

/* Formatting h2 tag for contact section */
.contact h2 {
    color: #fce138;
}

/* Defining the iframe size */
.contact-info iframe {
    width: 400px; 
    height: 400px; 
}

/* Formatting contact-info DIV */
.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

/* Formatting h3 tag for contact-info div */
.contact-info h3 {
    color: #fce138;
    font-size: 32px;
}

/* Formatting p and address for contact-info */
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

/* Formatting anchor style for contact-info */
.contact-info a {
    color: #fce138;
}

/* ------------- Finish sections style ------------- */


